body {
    background-color: blue;
    color: yellow;
    font-size: 1.5em;
}

h1 {
    color: yellow;
    border: solid 5px yellow;
    text-align: center;
}

.checked {
  color: orange
}

a {
    color: white
}


table, th, tr, td {
  border: 1px solid yellow;
  font-size: 1em;
  border-collapse: collapse;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
