/* CSS styles */
body {
    background-color: blue;
    color: yellow;
    font-size: 1.5em;
}

h1 {
    color: yellow;
    border: solid 5px yellow;
    text-align: center;
}

a {
    color: white
}

.box-wrapper {
    height: 70vh;
    width: 50vh;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#box {
    padding: 10px 40px 10px 40px;
    border: solid 2px yellow;
    margin: 20px;
}

#box img {
    object-fit: contain;
    max-width: 30%;
    max-height: 50%;
}
