body {
    background-color: blue;
    color: yellow;
    font-size: 1.5em;
}

h1 {
    color: yellow;
    border: solid 5px yellow;
    text-align: center;
}

.box-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

#box {
    padding: 10px;
    border: solid 2px yellow;
    margin: 20px;
}